#root {
    padding: 8px;
}
blockquote {
    background-color: rgb(230, 230, 230);
    padding: 8px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0px;
    font-family: Meiryo;
}

pre {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    padding-left: 8px;
    margin-bottom: 8px;
}
pre > * {
    color: white;
}
